:root {
  --primary-bg-color: #f4f4f4;
  --text-color: #333;
  --main-bg-color: #efe0b9;
  --main-text-color: #393509;
  --main-btn-bg-color: #f8f8f3;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 40px;
  margin: 50px;
}
body {
  font-family: "Gill Sans", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* The container is for the main content. Filled with video and the buttons as well. */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  padding: 10px;
}

/* For the header, I wanted to make the word at the left since most website usually put their logo either on the right or left.   */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Verdana, sans-serif;
  font-size: 35px;
  padding: 10px 0;
  text-align: justify;
  width: 100%;
}

/* The navigation is placed in the center so that people can be aware of the navigation and it's easier to click. */
nav {
  margin-top: 5px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* For the media player, I placed the controls button under the video, with play pause button and mute unmute button included. 
I also put a progress bar so that user can see the progress clearly. */
.media-player {
  width: 100%;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.media-player video {
  max-width: 100%;
  width: 600px;
  height: 100%;
}

.custom-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: #fbe8d1;
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 70%;
  height: 20px;
  background-color: #e6e5e4;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: rgb(246, 165, 37);
  width: 0;
  transition: width 0.3s ease;
}

#right-container {
  flex-direction: column;
  align-content: center;
}

#right-container p {
  padding-bottom: 30px;
}

/* for the steps, I placed them in a grid to make it tidy and neat, but also in order so it's easier to read especially for kids.  */
#steps {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#steps button {
  background-color: #fbe8d1;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

#steps button:hover {
  background-color: #f2c58a;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.para {
  border: 0px dashed pink;
  justify-items: start;
  align-items: left;
}
/* I styled the footer similar with the heading to have a constant style throughout the web. */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
