main {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  color: rgb(75, 45, 2);
  width: 900px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header {
  background-color: rgb(251, 237, 214);
  font-family: Cambria;
  font-size: large;
  font-weight: bold;
  width: 900px;
}

h1 {
  color: rgb(145, 109, 9);
}

h2 {
  color: rgb(75, 45, 2);
}

.my-class {
  font-size: 50px;
  text-align: center;
}

.outer1 {
  border: 3px solid rgb(75, 45, 2);
  width: 290px;
  height: fit-content;
  gap: 5px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

p {
  padding: 15px;
  margin: 5px;
}

.question1,
.answer1 {
  background-color: rgb(236, 211, 169);
  flex: 1;
  margin: 5px;
  display: block;
  padding: 15px;
}

p > strong {
  font-weight: bold;
  font-size: large;
}

.answer2 {
  background-color: rgb(236, 211, 169);
  list-style-type: circle;
}
