body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  color: aliceblue;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#start-button {
  padding: 9px;
  background-color: rgb(187, 216, 144);
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 15px;
  cursor: pointer;
}

#start-button:hover {
  background-color: rgb(157, 181, 121);
}
