h1 {
  color: brown;
  text-transform: uppercase;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/* this is a universal selector */
* {
  color: darkmagenta;
}
.my-heading {
  color: aquamarine;
}
.my-class {
  color: maroon;
  font-size: 2rem;
}
p > strong {
  color: black;
}
article {
  text-align: center;
  border: 1px dashed red;
  padding: 10px;
}
/* .padding-style{
    padding: 10px;
    border: 1px solid red;
} */
